.active {
  background-color: #4dd964;
  color: #fff;
  font-weight: 500;
}

.inactive {
  background-color: #4dd964;
  opacity: 0.5;
  color: #fff;
  font-weight: 500;
}

.away {
  background-color: #ffc605;
}

.busy {
  background-color: #f44336;
  color: #fff;
  font-weight: 500;
}
