@import "../styles/common/mixin.scss";
@import "../styles/common/variables.scss";
html,
body {
  height: 100%;
  width: 100%;
  color: $color-default;
}

body {
  padding-top: 4.5em;
}

#root {
  height: 100%;
}
