@import "../../styles/common/mixin.scss";
@import "../../styles/common/variables";

.authentication-login {
  .btn {
    @include shadow-normal();
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  .btn {
    font-weight: 700;
    color: $color-default;
    border-radius: 0;
  }

  i {
    color: $color-default;
  }

  .input-group-text {
    border-radius: 0;
  }
  .text-reset {
    @include cursor-pointer();
  }
}
