@import "../../styles/common/mixin.scss";
@import "../../styles/common/variables.scss";
.navbar {
  @include shadow-normal();
  .navbar-brand {
    color: $color-default;
    font-weight: 700;
  }

  .text-reset {
    @include cursor-pointer();
  }

  .profile-link {
    @include cursor-pointer();
    text-decoration: none;
  }
}
